@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    opacity: 0.8;
    transform: translateX(1rem); }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    opacity: 0.8;
    transform: translateX(-1rem); }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    transform: translateY(0);
    opacity: 1; } }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  /*Now convert all px value into rem dependent on root font-size  */
  /*font-size: 10px; */
  /*Set root font-size is 10px because  calculate rem is easy 10px == 1rem*/
  /*default root font size is 16px*/
  font-size: 62.5%;
  /* (10/16) == 0.625 => 0.625*100 == 62.5%*/ }

body {
  box-sizing: border-box; }

/******************************  1. Body  ******************************/
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777777; }

/******************************  2. Heading  ******************************/
.heading-primary {
  color: #ffffff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1.5s;
    animation-timing-function: ease-in; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.74rem;
    animation-name: moveInRight;
    animation-duration: 1.5s;
    animation-timing-function: ease-in; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(5deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

/******************************  3. Paragraph  ******************************/
.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

/******************************  3. Button  ******************************/
.btn-text:link, .btn-text:visited {
  color: #55c57a;
  font-size: 1.6rem;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: .5rem; }

.btn-text:hover {
  background-image: linear-gradient(to right, #55c57a, #28b485);
  color: #ffffff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

/******************************  1. Margin  ******************************/
.u-m {
  margin: 1rem; }

.u-m-xs {
  margin: 0.5rem; }

.u-m-sm {
  margin: 1.5rem; }

.u-m-md {
  margin: 2rem; }

.u-m-lg {
  margin: 4rem; }

.u-m-x {
  margin-left: 1rem;
  margin-right: 1rem; }

.u-m-x-xs {
  margin-left: 0.5rem;
  margin-right: 0.5rem; }

.u-m-x-sm {
  margin-left: 1.5rem;
  margin-right: 1.5rem; }

.u-m-x-md {
  margin-left: 2rem;
  margin-right: 2rem; }

.u-m-x-lg {
  margin-left: 4rem;
  margin-right: 4rem; }

.u-m-y {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.u-m-y-xs {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.u-m-y-sm {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

.u-m-y-md {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.u-m-y-lg {
  margin-top: 4rem;
  margin-bottom: 4rem; }

.u-m-t {
  margin-top: 1rem; }

.u-m-t-xs {
  margin-top: 0.5rem; }

.u-m-t-sm {
  margin-top: 1.5rem; }

.u-m-t-md {
  margin-top: 2rem; }

.u-m-t-lg {
  margin-top: 4rem; }

.u-m-b {
  margin-bottom: 1rem; }

.u-m-b-xs {
  margin-bottom: 0.5rem; }

.u-m-b-sm {
  margin-bottom: 1.5rem; }

.u-m-b-md {
  margin-bottom: 2rem; }

.u-m-b-lg {
  margin-bottom: 4rem; }

.u-m-l {
  margin-left: 1rem; }

.u-m-l-xs {
  margin-left: 0.5rem; }

.u-m-l-sm {
  margin-left: 1.5rem; }

.u-m-l-md {
  margin-left: 2rem; }

.u-m-l-lg {
  margin-left: 4rem; }

.u-m-r {
  margin-right: 1rem; }

.u-m-r-xs {
  margin-right: 0.5rem; }

.u-m-r-sm {
  margin-right: 1.5rem; }

.u-m-r-md {
  margin-right: 2rem; }

.u-m-r-lg {
  margin-right: 4rem; }

/******************************  1. Padding  ******************************/
.u-p {
  padding: 1rem; }

.u-p-xs {
  padding: 0.5rem; }

.u-p-sm {
  padding: 1.5rem; }

.u-p-md {
  padding: 2rem; }

.u-p-lg {
  padding: 4rem; }

.u-p-x {
  padding-left: 1rem;
  padding-right: 1rem; }

.u-p-x-xs {
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.u-p-x-sm {
  padding-left: 1.5rem;
  padding-right: 1.5rem; }

.u-p-x-md {
  padding-left: 2rem;
  padding-right: 2rem; }

.u-p-x-lg {
  padding-left: 4rem;
  padding-right: 4rem; }

.u-p-y {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.u-p-y-xs {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.u-p-y-sm {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }

.u-p-y-md {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.u-p-y-lg {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.u-p-t {
  padding-top: 1rem; }

.u-p-t-xs {
  padding-top: 0.5rem; }

.u-p-t-sm {
  padding-top: 1.5rem; }

.u-p-t-md {
  padding-top: 2rem; }

.u-p-t-lg {
  padding-top: 4rem; }

.u-p-b {
  padding-bottom: 1rem; }

.u-p-b-xs {
  padding-bottom: 0.5rem; }

.u-p-b-sm {
  padding-bottom: 1.5rem; }

.u-p-b-md {
  padding-bottom: 2rem; }

.u-p-b-lg {
  padding-bottom: 4rem; }

.u-p-l {
  padding-left: 1rem; }

.u-p-l-xs {
  padding-left: 0.5rem; }

.u-p-l-sm {
  padding-left: 1.5rem; }

.u-p-l-md {
  padding-left: 2rem; }

.u-p-l-lg {
  padding-left: 4rem; }

.u-p-r {
  padding-right: 1rem; }

.u-p-r-xs {
  padding-right: 0.5rem; }

.u-p-r-sm {
  padding-right: 1.5rem; }

.u-p-r-md {
  padding-right: 2rem; }

.u-p-r-lg {
  padding-right: 4rem; }

/******************************  1. General classes  ******************************/
.u-center-text {
  text-align: center; }

/*******************************  Example of Button  *******************************

 <a href="#" class="btn btn--white">White Button</a>
 <a href="#" class="btn btn--green">Green Button</a>

**********************************************************************************/
.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  font-size: 1.6rem;
  position: relative; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover:after {
    transform: scaleX(1.4) scaleY(1.5);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #ffffff;
  color: #777; }
  .btn--white:after {
    background-color: #ffffff; }

.btn--green {
  background-color: #55c57a;
  color: #ffffff; }
  .btn--green:after {
    background-color: #55c57a; }

.btn:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 10rem;
  transition: all 0.4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .7s;
  animation-fill-mode: backwards; }

/*******************************  Example of image gallery  *******************************

 <div class="composition">
    <img src="assets/img/nat-1-large.jpg" alt="" class="composition__photo composition__photo--p1">
    <img src="assets/img/nat-2-large.jpg" alt="" class="composition__photo composition__photo--p2">
    <img src="assets/img/nat-3-large.jpg" alt="" class="composition__photo composition__photo--p3">
 </div>

***************************************************************************************/
.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 1;
    transition: all .2s;
    outline-offset: 1.5rem; }
    .composition__photo--p1 {
      top: -2rem;
      left: 0; }
    .composition__photo--p2 {
      top: 2rem;
      right: 0; }
    .composition__photo--p3 {
      top: 10rem;
      left: 20%; }
    .composition__photo:hover {
      outline: 1.5rem solid #55c57a;
      box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 2;
      transform: scale(1.15); }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

/*******************************  Example of use  *******************************

<div class="feature-box">
<i class="icon-basic-world feature-box__icon "></i>
<h3 class="heading-tertiary u-m-b-small">Explore the world</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cumque doloremque </p>
</div>

**********************************************************************************/
.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  font-size: 1.5rem;
  text-align: center;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  transition: transform .5s;
  padding: 2.5rem; }
  .feature-box__icon {
    font-size: 6rem;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

/*******************************  Example of card  *******************************

<div class="card">
    <div class="card__side card__side--front">
        <figure class="card__img card__img--1"></figure> // use background image
        <h4 class="card__heading">
            <span class="card__heading--span card__heading--span--1">The sea Explore</span>
        </h4>
        <div class="card__details">
            <ul>
                <li>3 day tour</li>
                <li>Up to 30 people</li>
                <li>2 tour guides</li>
                <li>Sleep in cozy hostels</li>
                <li>Diffculty very easy</li>
            </ul>
        </div>
    </div>
    <div class="card__side card__side--back card__side--back--1">
        <div class="card__cta">
            <div class="card__price-box">
                <p class="card__price-only">only</p>
                <p class="card__price-value">$249.5</p>
            </div>
            <a href="#" class="btn btn--white">Book Now!</a>
        </div>
    </div>
</div>

**********************************************************************************/
.card {
  perspective: 150rem;
  height: 55rem; }
  .card__side {
    width: 100%;
    height: 55rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    overflow: hidden; }
    .card__side--front {
      background-color: #ffffff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back--1 {
        background: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back--2 {
        background: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side--back--3 {
        background: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__img {
    height: 25rem;
    background-size: cover;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__img--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8)), url("../assets/img/nat-5.jpg"); }
    .card__img--2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../assets/img/nat-6.jpg"); }
    .card__img--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8)), url("../assets/img/nat-7.jpg"); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #ffffff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
    .card__heading--span {
      padding: 1rem 1.5rem;
      -webkit-box-decoration-break: clone;
      -box-decoration-break: clone; }
      .card__heading--span--1 {
        background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8)); }
      .card__heading--span--2 {
        background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)); }
      .card__heading--span--3 {
        background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        padding: 1rem;
        text-align: center;
        font-size: 1.5rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #efefef; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    color: #ffffff;
    margin-bottom: 8rem; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }

.header {
  height: 6rem;
  background: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.15); }
  .header__logo-box {
    position: relative;
    height: inherit; }
    .header__logo-box-title {
      font-size: 0; }
    .header__logo-box-logo {
      position: absolute;
      height: 4.5rem;
      top: 50%;
      transform: translate(0, -50%); }

.footer {
  background: #999; }
  .footer__copyright {
    height: inherit;
    font-size: 1.5rem;
    line-height: 4rem;
    color: #ffffff; }

/*******************************  Example of Grid  *******************************

<section>
    <div class="row">
        <div class="col-1-of-2">
            col 1 of 2
        </div>
        <div class="col-1-of-2">
            col 1 of 2
        </div>
    </div>

    <div class="row">
        <div class="col-1-of-3">
            col 1 of 3
        </div>
        <div class="col-1-of-3">
            col 1 of 3
        </div>
        <div class="col-1-of-3">
            col 1 of 3
        </div>
    </div>

    <div class="row">
        <div class="col-1-of-3">
            col 1 of 3
        </div>
        <div class="col-2-of-3">
            col 2 of 3
        </div>
    </div>

    <div class="row">
        <div class="col-1-of-4">
            col 1 of 4
        </div>
        <div class="col-1-of-4">
            col 1 of 4
        </div>
        <div class="col-1-of-4">
            col 1 of 4
        </div>
        <div class="col-1-of-4">
            col 1 of 4
        </div>
    </div>

    <div class="row">
        <div class="col-1-of-4">
            col 1 of 4
        </div>
        <div class="col-1-of-4">
            col 1 of 4
        </div>
        <div class="col-2-of-4">
            col 2 of 4
        </div>

    </div>

    <div class="row">
        <div class="col-1-of-4">
            col 1 of 4
        </div>
        <div class="col-3-of-4">
            col 1 of 4
        </div>
    </div>
</section>


************************************************************************************************************/
.row {
  width: 114rem;
  margin: 0 auto; }
  .row:after {
    content: '';
    display: table;
    clear: both; }
  .row:not(:last-child) {
    margin-bottom: 5rem; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) /2); }
  .row .col-1-of-3 {
    width: calc((100% - (2 * 6rem) ) /3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - (2 * 6rem) ) /3) +  6rem); }
  .row .col-1-of-4 {
    width: calc((100% - (3 * 6rem) ) /4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - (3 * 6rem) ) /4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - (3 * 6rem) ) /4) + (2 * 6rem)); }

.main-container {
  min-height: calc(100vh - (6rem + 4rem));
  background: #f7f7f7; }
