// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #efefef;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;


$black: #000000;
$white: #ffffff;

$font-size : 1.6rem;

$text-color : #777777;

// Spaces
$space: 1rem;
$space-xs: .5rem;
$space-sm: 1.5rem;
$space-md: 2rem;
$space-lg: 4rem;

//phone size spaces
$phone-space: .5rem;
$phone-space-xs: .3rem;
$phone-space-sm: 1em;
$phone-space-md: 1.5rem;
$phone-space-lg: 2.5rem;

//tablet portrait size space
$tab-port-space: .8rem;
$tab-port-space-xs: .4rem;
$tab-port-space-sm: 1.2rem;
$tab-port-space-md: 1.8rem;
$tab-port-space-lg: 3rem;



// HEADER
$header-height: 6rem;

// GRID
$grid-width : 114rem;
$grid-space-horizontal : 6rem;
$grid-space-vertical : 5rem;

