.header{
  height: $header-height;
  background: $white;
  border-bottom: 1px solid rgba($black, .15);
  box-shadow: 0 .5rem 1.5rem rgba($black, .15);

  &__logo-box{
    position: relative;
    height: inherit;
    &-title{
      font-size: 0;
      margin: 0;
    }
    &-logo{
      position: absolute;
      height: 4.5rem;
      top: 50%;
      transform: translate(0, -50%);
    }
  }
}